<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Объявления</h1>

{% for ad in ads %}
    <hr>
    <h4>
        <a href="{% url 'ads_list' %}{{ ad.id }}">
            {{ ad.header }}
        </a> - {{ ad.date_create|date:'d M Y' }}
    </h4>
    <div class="text-secondary">
        {{ ad.get_category_display }}
    </div>
    <div class="text-secondary">{{ ad.author }}</div>
    <p>{{ ad.text|safe}}</p>
    <div class="">
        <a href="{% url 'responses_create' ad.id %}">
            Откликнуться
        </a>
    </div>
{% endfor %}
    <hr>
    {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}