<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        {% load static %}
        {% load account %}
        <title>
		{% block title %}
		{{ flatpage.content }}
		{% endblock title %}
		</title>
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'ads_list' %}">Bulletin board</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'ad_create' %}">Add</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'responses' %}">Responses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'subscriptions' %}">Subscriptions 🕭</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_email' %}">Вы вошли как: {% user_display user %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_logout' %}">logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_login' %}">login⎆</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-start">
                    {% block content %}
                    {{ flatpage.content }}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </body>
</html>
